.textWindow {
    height: 80px;
    width: 400px;

}

#output {
    background-color: bisque;
}

#liveOutput {
    background-color: rgb(224, 215, 200);
}

#buttons {
    display: flex;
    float: left;
}

#nums {
    display: grid;
    height: 400px;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border: crimson;
    
}

.numsButtons {
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    border-width: 1px;
}
.opsButtons {
    height: 80px;
    width: 100px;
    background-color: coral;
    border-width: 1px;

}

#operators {
    display: grid;
    height: 400px;
    width: 100px;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}